/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family:'Myriad Pro Regular';
	src: url('font/MyriadPro-Regular.eot');
	src: url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/MyriadPro-Regular.woff') format('woff'),
	url('font/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Letter Gothic Medium';
	src: url('font/LetterGothicMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background: url(img/artboard1.png);
	background-size: 100% 100%;
	min-height: 100vh;
	widows: 100%;
	font-family:'Myriad Pro Regular', sans-serif ;
}
.image {
	border: 5px solid #000;
	width: 400px;
	height: 565px;
	display: inline-block;
	margin-top: 10vh;
	margin-left: 30vh;
	background-color: #fff;
	transition: all .5s ease;
	box-shadow: 
				inset 0px 0px 0px 30px #fff,
				inset 0px 0px 0px 32px #808080,
				inset 0px 0px 0px 34px #BCBCBC,
				inset 0px 0px 0px 35px #808080,
				inset 0px 0px 0px 45px #fff,
				inset 0px 0px 0px 47px #BCBCBC,
					  7px 7px 30px 0px #000;	
}
.image:hover{
	box-shadow: 
				inset 0px 0px 0px 30px #fff,
				inset 0px 0px 0px 32px #808080,
				inset 0px 0px 0px 34px #BCBCBC,
				inset 0px 0px 0px 35px #808080,
				inset 0px 0px 0px 45px #fff,
				inset 0px 0px 0px 47px #BCBCBC,
					  10px 10px 40px 0px #000;	
}
h1 {
	font-size: 22px;
	text-align: center;
	margin: 220px 55px ;
	position: relative;
}
h1::before {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 10%;
	height: 1px;
	width: 80%;
	border-top: 0.5px solid rgba(0,0,0, .7);
	border-bottom: 0.5px solid rgba(0,0,0, .7);
}
h1::after {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 10%;
	height: 1px;
	width: 80%;
	border-top: 0.5px solid rgba(0,0,0, .7);
	border-bottom:0.5px solid rgba(0,0,0, .7);
}
.code {
	display: inline-block;
	background: #fff;
	padding: 10px;
	margin-left: 160px;
	margin-top: 55vh;
	vertical-align: top;
	box-shadow: 2px 2px 20px 0px #000; 
	transition: all .5s ease;
	font-family: 'Letter Gothic Medium', sans-serif;
}
.code:hover {
	box-shadow: 4px 4px 20px 0px #000; 
}
.code img {
	width: 50px;
}
	
