*{
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,em,font,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
} 

a {
    color: inherit;
    text-decoration: none;
}
a[href^="mailto:"]{
    text-decoration: underline;
}
p,ul,td,h1,h2,h3,h4,h5,h6 {
    cursor: default;
}
html{
    overflow-x: hidden;
}
body {
    background: #fff;
    color: #ECECEC;
    font-size: 62.5%;
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
}

#wpadminbar {
    top: -100% !important;
    display: none;
}

*{
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.plaintext p {
	display: block;
	padding-bottom: 10px;
	text-indent: 1.5em;
}
.plaintext p:last-of-type{
	padding-bottom: 0;
}



/*  BEFORE AFTER SECTION  */

.before-after-slider{
	display: flex;
}

#before-after-section:nth-of-type(even) .before-after-slider{
	flex-direction: row-reverse;
}

.left-col{
	width: 65%;
}

.right-col{
	width: 35%;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
}

.before-after-slider-wrap{
	position: relative;
	height: 90vh;
	overflow: hidden;
}

.before-after-box {
	height: 500px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.before-after-box.current{
	opacity: 1;
}

.before-after-box .inner-image{
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.before-after-box .inner-image:before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%,rgba(0, 0, 0, 0.45) 5%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.0) 25%, rgba(0, 0, 0, 0.0) 100%);
	z-index: 100;
}


.before-after-box .before-image span,
.before-after-box .after-image span{
	position: absolute;
	bottom: 5%;
	width: 50%;
	text-transform: uppercase;
	font-size: 3.0em;
	padding: 10px 50px;
	color: #fff;
	z-index: 1000;
}

.before-after-box .before-image span{
	left: 0%;
	text-align: left;
}

.before-after-box .after-image span{
	right: 0%;
	text-align: right;
}

.before-after-descr{
	display: flex;
	min-height: 10vh; 
	background: #2A4D23;
}

.before-after-descr-wrap{  
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.before-after-descr-wrap.property,
.before-after-descr-wrap.location{
	padding: 15px 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.0em;
}

.before-after-descr-wrap.location .loc-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}
.before-after-descr-wrap.location .loc-wrap .img-box {
	padding-right: 20px;
	line-height: 90%;
}



.before-after-box.active .before-after-overlay,
.before-after-box.active :hover.before-after-overlay {
	background: rgba(0, 0, 0, 0); 
}

.button-before {
	z-index: 20; }

.button-after {
	z-index: 10; 
}

.before-after-handle {
	box-sizing: border-box;
	height: 38px;
	width: 80px;
	position: absolute;
	left: 50%;
	bottom: 2%;
	z-index: 40;
	cursor: ew-resize;
}

.before-after-handle:before{
	content: " ";
	display: block;
	width: 3px;
	background: #2A4D23;
	height: 100000%;
	position: absolute;
	left: 50%;
	top: -10000%;
	margin-left: -1.5px;
	z-index: 30; 
	cursor: ew-resize;
}

.before-after-left-arrow, .before-after-right-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	top: 50%;
	margin-top: -6px;
}

.before-after-left-arrow {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -40px; 
}

.before-after-right-arrow {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -40px; 
}

.before-after-main-descr{
	color: #1C1012;
	width: 100%;
	align-self: flex-end;
	padding: 10% 15%;
	font-size: 2.0em;
	text-align: left;
	font-weight: 700;
}

.before-after-nav{
	width: 100%;
	align-self: flex-end;
	position: relative;
	height: 150px;
	overflow: hidden;
	
}

.before-after-nav .nav-left,
.before-after-nav .nav-right{
	position: absolute;
	top: calc(50% - 20px); 
	z-index: 1000;
	width: 20px;
	height: 40px;
	background: #2A4D23;
	cursor: pointer;
	transition: .3s ease;
}

.before-after-nav .nav-right{
	right: 5%;
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
	clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.before-after-nav .nav-left{
	left: 5%;
	-webkit-clip-path: polygon( 100% 0, 100% 100%, 0% 50%);
	clip-path: polygon(100% 0, 100% 100%, 0% 50%);
}

.before-after-nav .nav-left:hover,
.before-after-nav .nav-right:hover{
	transform: scale(1.3);
}

.before-after-nav .before-after-nav-wrap{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	position: absolute;
	top: 0;
	left: 0;
}

.before-after-nav .nav-item{
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	cursor: pointer;
	transition: .3s ease-in-out;
	position: relative;
}

.before-after-nav .nav-item.current{
	opacity: 1;
}
.before-after-nav .nav-item .open-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(42, 77, 35, 0.65);
	opacity: 0;
	transition: .3s ease-in-out;
}

.open-bg span{
	font-size: 1.8em;
	text-transform: uppercase;
}

.before-after-nav .nav-item:hover{
	opacity: 1;
}
.before-after-nav .nav-item:hover .open-bg{
	opacity: 1;
}

.before-after-nav .hidden-cont{
	display: none;
}

.before-after-nav .nav-item.current:hover .open-bg {
	opacity: 0;
}
.before-after-nav .nav-item.current:hover{
	opacity: 0.9;
}




@media (max-width:1024px){

}